@CHARSET "UTF-8";

body {
	color: #ff0025;
	background-color: silver;
	/*#f10025;*/
}

#navigdiv{
	background-color: olive;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	width: 300px;
	padding-left: 10%;
	padding-right: 10%;
}

nav {
    display: inline-table;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav>ul>li{
	float: left;
}

nav>ul>li>a{
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

#registrationForm{
	background-color: fuchsia;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: auto;
	border: 8px solid green;
}

#registrationForm .dateselect {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: yellow;
	height: 30px;
	width: 210px;
}

#registrationForm .dateselect > span {
	
}

select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
}