@CHARSET "UTF-8";


#registrationForm{
	background-color: fuchsia;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: auto;
	border: 8px solid green;
}

#registrationForm .dateselect {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: yellow;
	height: 30px;
	width: 210px;
}

#registrationForm .dateselect > span {
	
}

select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
}