@CHARSET "UTF-8";

body {
	color: #ff0025;
	background-color: #EBEBEB;
	/*#f10025;*/
}

.wsb-canvas-scrollable {
	background-color: #f0f0ee;
	background-position-x: center;
	background-position-y: top;
	background-position: center top;
	background-repeat: repeat-x;
	position: absolute;
	width: 100%;
	height: 10%;
	background-image: url(../img/pageheader.jpg);
	background-size: 42%;
}



/* #navigdiv {
	background-color: olive;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	width: 300px;
	padding-left: 10%;
	padding-right: 10%;
} */

.wsb-canvas-scrollable nav {
	display: inline-table;
	float: right;
}

.wsb-canvas-scrollable nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.wsb-canvas-scrollable nav>ul>li {
	float: left;
}

.wsb-canvas-scrollable nav>ul>li>a {
	display: block;
	padding: 8px;
	background-color: #dddddd;
}

#main_div {
	width: 100%;
	background-color: maroon;
	height: 350px;
}

#main_div #leftsidebar {
	width: 20%;
	float: left;
	background-color: lime;
	height: 300px;
}

#main_div #centre {
	width: 80%;
	float: left;
	background-color: #5E2750;
	height: 300px;
}

#main_div #footer {
	background-color: #EFE6D4;
	height: 30px;
}

#hlp_chld1 .wsb-image-inner img {
	vertical-align: middle;
	width: 209px;
	height: 411px;
	float: left;
}

#hlp_chld2 .wsb-image-inner img {
	vertical-align: middle;
	width: 209px;
	height: 411px;
	float: left;
}

#hlp_chld3 .wsb-image-inner img {
	vertical-align: middle;
	width: 209px;
	height: 411px;
	float: left;
}

/* .navdiv{
	background-color:#3fc18d; #00aced;
	height: 50px;
	width: inherit;
	font-family: monospace;
	padding: inherit;
	text-align: center;
	vertical-align: middle;
} */

/* .header_sec{
		
} */

/* .login{
position: absolute;
width: 50%;
height: 30%;
top: 100px;
left: 500px;
	
} */

/* .login>input {
	color: #000000;
	font-family: fantasy;
	font-weight:bold;
	background-color: #a2baac;
}

.login>button {
	border-bottom-style: double;
	azimuth: left-side;
	border-radius: 5px;
	background-color: #e31c1c;
	color: white;
} */