<div id="registrationForm">
	<div class="reg-inner">
		<form
			ng-submit="register(username, password, email, day, month, year)"
			class="ng-scope ng-pristine ng-valid">

			<label>Username</label> &nbsp;&nbsp;&nbsp;&nbsp;<input type="text"
				ng-model="username" class="ng-pristine ng-valid"> <br /> <label>Password</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
				type="password" ng-model="password" class="ng-pristine ng-valid">
			<br /> <label>Email</label>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
				type="text" ng-model="email" class="ng-pristine ng-valid"> <br />
			<div class="dateselect">
				<span><select name="daySelect" id="daySelect"
					ng-options="option.name for option in day.availableOptions track by option.id"
					ng-model="day.selectedOption"></select> <select name="monthSelect"
					id="monthSelect"
					ng-options="option.name for option in month.availableOptions track by option.id"
					ng-model="month.selectedOption"></select> <select name="yearSelect"
					id="yearSelect"
					ng-options="option.name for option in year.availableOptions track by option.id"
					ng-model="year.selectedOption"></select>
				</span> <br />
				<!--  <select ng-options="country.name for country in country.availableList track by country.id"
				 ng-model="country.selectedCountry"></select>-->
			</div>
			<div style="position: absolute; margin-left: 25%;margin-right: 20%;">
			<input class="btn btn-warning" type="submit" />
			<!-- <button class="btn btn-success" ng-click="">Submit</button> -->
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button></div>
			{{PostDataResponse}}
		</form>
	</div>

	<div class="getusrdata">
		<button ng-click="getAllUsers()">load data</button>
		<div ui-grid="{ data: myData }" class="grid"></div>
	</div>
</div>

