<h1>Welcome To blogged feeds</h1>
<form ng-submit="postYourFeed(feed)">
	<label>Post your comment here</label>
	<textarea rows="10" cols="50" ng-model="feed"
		class="ng-pristine ng-valid"></textarea>
	<!-- <input type="text" ng-model="feed" class="ng-pristine ng-valid"> -->
	<input type="submit">
</form>


<ul tagged-infinite-scroll="getMore()" tagged-infinite-scroll-disabled="fetching || disabled">
      <li ng-repeat="item in items">
        Comment : {{ item.postData }}
        Comment Date: {{item.postCreationDate}}
      </li>
</ul>

<!-- <div infinite-scroll='welfareData.nextPage()' infinite-scroll-disabled='welfareData.busy' infinite-scroll-distance='1'>
    <div ng-repeat='item in welfareData.items'>
      <span class='postData'>{{item.postData}}</span>
      <span class='postDate'>
        {{item.postDate}}
      </span>
      <div style='clear: both;'></div>
    </div>
    <div ng-show='welfareData.busy'>Loading data...</div>
  </div> -->

<!-- <span>Post Data: {{PostDataResponse}}</span>

<span>Post Date: {{postDate}}</span> -->