<p>This is Welfare App</p>
<div id="main_div">
	<!-- <div id="leftsidebar">Left</div>
	<div id="centre">Centre and Right</div>
	<div id="footer">Footer</div> -->

	<div id="wsb-element-4fad6d48-c590-4374-bf68-3421f797c13a"
		class="wsb-element-image" data-type="element">
		<div class="wsb-image-inner ">
			<div class="img">
				<img src="./resources/img/homeimg1.jpg"
					style="vertical-align: middle; width: 209px; height: 411px; float: left;" />
			</div>
		</div>
	</div>
	<div id="wsb-element-4fad6d48-c590-4374-bf68-3421f797c13a"
		class="wsb-element-image" data-type="element">
		<div class="wsb-image-inner ">
			<div class="img">
				<img src="./resources/img/homeimg2.jpg"
					style="vertical-align: middle; width: 209px; height: 411px; float: left;" />
			</div>
		</div>
	</div>
	<div id="wsb-element-4fad6d48-c590-4374-bf68-3421f797c13a"
		class="wsb-element-image" data-type="element">
		<div class="wsb-image-inner ">
			<div class="img">
				<img src="./resources/img/homeimg3.jpg"
					style="vertical-align: middle; width: 209px; height: 411px; float: left" />
			</div>
		</div>
	</div>
	<div id="wsb-element-865bfff4-769e-43fc-9f78-ab9dcd6e5c4b"
		class="wsb-element-image" data-type="element">
		<div class="wsb-image-inner ">
			<div class="img">
				<img
					src="//nebula.wsimg.com/c3f7390e32e774c6f52115784fceef63?AccessKeyId=531592D248B589D87A56&amp;disposition=0&amp;alloworigin=1"
					style="vertical-align: middle; width: 321px; height: 62px;">
			</div>
		</div>
	</div>
</div>