<p>This is Welfare App</p>
<div id="main_div">
	<!-- <div id="leftsidebar">Left</div>
	<div id="centre">Centre and Right</div>
	<div id="footer">Footer</div> -->

	<div id="hlp_chld1" class="wsb-element-image" data-type="element">
		<div class="wsb-image-inner">
			<div class="img">
				<img src="./resources/img/homeimg1.jpg" />
			</div>
		</div>
	</div>
	<div id="hlp_chld2" class="wsb-element-image" data-type="element">
		<div class="wsb-image-inner ">
			<div class="img">
				<img src="./resources/img/homeimg2.jpg" />
			</div>
		</div>
	</div>
	<div id="hlp_chld3" class="wsb-element-image" data-type="element">
		<div class="wsb-image-inner ">
			<div class="img">
				<img src="./resources/img/homeimg3.jpg" />
			</div>
		</div>
	</div>

<!--  <div id="element-orange-pane" class="wsb-element-shape"
		data-type="element">
		<div class="wsb-shape shape_orange"></div>
	</div>

	<div id="element-tan-pane" class="wsb-element-shape"
		data-type="element">
		<div class="wsb-shape shape_tan"></div>
	</div>

	<div id="element-green-pane" class="wsb-element-shape"
		data-type="element">
		<div class="wsb-shape shape_green"></div>
	</div>-->

</div>