@CHARSET "UTF-8";

body {
	color: #d12234;
	background-color: #EBEBEB;
}

.wsb-canvas-scrollable {
	background-color:rgba(65,65,65,.9);
	background-position: top;
	background-repeat: repeat-x;
	position: absolute;
	width: 100%;
	height: 56px;
	margin-top:0px;
	/* background-image: url(../img/pageheader.jpg); */
}

.wsb-canvas-scrollable nav {
	display: inline-table;
	float: right;
	position: relative;
	height: 25%;
	width: auto;
}

.wsb-canvas-scrollable nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0;
	height: 20%;
	width: auto;
}

.wsb-canvas-scrollable nav>ul>li {
	float: left;
}

.wsb-canvas-scrollable nav>ul>li>a {
	display: block;
	padding: 8px;
	background-color: #dddddd;
}

#main_div {
	width: 100%;
	background-color: #e2fefe;
	height: 950px;
	position: absolute;
	margin-top: 49px;
}

#main_div #footer {
	background-color: #EFE6D4;
	height: 30px;
}

#main_div .hlp_chld1{
	position: relative;
	margin-left: 33%;
	float: left;
	height: 280px;	
}

#main_div .hlp_chld2{
	position: relative;
	float: left;
	height: 280px;
}

#main_div .hlp_chld3{
	position: relative;
	float: left;
	height: 280px;
}

div.hlp_chld1>img{
	height: 280px;
	margin-top: 30px;	
}

div.hlp_chld2>img{
	height: 280px;
	margin-top: 30px;	
}

div.hlp_chld3>img{
	height: 280px;
	margin-top: 30px;	
}

.root-div {
	position: relative;
}

.root-div #login_form {
	position: absolute;
	width: 50%;
	height: 30%;
	top: 100px;
	left: 500px;
}

.root-div .user-infodiv {
	position: absolute;
	width: 50%;
	height: 30%;
	top: 100px;
	left: 500px;
}

#registrationForm {
	position: absolute;
	background-color: black;
	margin-left: 39%;
	margin-right: 35%;
}

#registrationForm .reg-inner {
	position: absolute;
	background-color: fuchsia;
	margin-top: 50px;
	margin-left: 40%;
	margin-right: 50%;
	width: 300px;
	height: auto;
	border: 8px solid green;
}

#registrationForm .dateselect {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: yellow;
	height: 30px;
	width: 210px;
}

#registrationForm .dateselect>span {
	
}

#registrationForm .getusrdata {
	position: absolute;
	top: 350px;
}

select {
	-webkit-appearance: menulist;
	box-sizing: border-box;
	align-items: center;
	white-space: pre;
	-webkit-rtl-ordering: logical;
	color: black;
	background-color: white;
	cursor: default;
	border-width: 1px;
	border-style: solid;
	border-color: initial;
	border-image: initial;
}

/*  Grid CSS Data */
.grid {
	width: 500px;
	height: 250px;
}

.viewng #registrationform {
	position: absolute;
	margin-left: 50px;
}


/* footer section */
.footersection{
	position: absolute;
	margin-top: 90%;
	background-color:rgba(120,239,104,0.66);
	height: 41%;
	width: 100%;
	text-align: center;
}